* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 1123px;
}

/* Section Logo & Title */
.logo{
    vertical-align: middle;
}

header h1{
    display: inline-block;
    vertical-align: middle;
    line-height: 2em;
    font-family: Roboto;
}

.padding-logo{
    padding-left: 7px;
}
/* /Section Logo & Title */

main{
    background-color: #f6f8f9;
    height: 705px;
}

.container{
    background-color: crimson;
    border-radius: 7px;
    width: 63.5%;
    height: 79%;
    position: absolute;
    top: 15%;
    left: 18%;
}