*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    background-color: #F6F8F9;
    font-family: Arial, Helvetica, sans-serif;
}


/* Logo & Title */
header{
    line-height: auto;
    background-color: white;
    padding: 11px 25px;
}

img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 2.3em;
}
/* /Logo & Title */

/* Main Section */
main{
    background-color: White;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 0.75em;
}

/* Navigation Section */
nav{
    padding: 0.7em 3em 0.5em 3.2em;
    border-bottom: 1px solid #F6F8F9;
}

.btn-nav{
    border-radius: 0.5em;
    border: 0;
    padding: 5px 10px;
    font-size: 0.8em;
}

.add-task{
    background-color: #14AAF5;
    color: white;
}

.add-section{
    background-color: white;
    color: #C4CBD0;
    border: 1px solid #C4CBD0;
}
/* /Navigation Section */

/* Outer List */
.outer-list{
    list-style-type: none;
    padding: 1.5em 3em 0.5em 3.2em;
    line-height: 1.5em;

}

ul.outer-list li:last-child{
    padding-bottom: 1.2em;
}

li h2, li span{
    display: inline-block;
    vertical-align: middle;
}

span{
    font-weight: 1000;
}

/* Inner List */
.inner-list{
    list-style-type: none;
    padding: 0.5em 3em 0 3.2em;
    line-height: 1.5em;
}

.inner-list li{
    margin: 0.5em;
}

.mark{
    display: inline-block;
    border-radius: 100px;
    font-size: 0.8em;
    padding: 0.3em 0.3em;
    line-height: 0.8em;
    margin-right: 0.3em;
}

.check{
    color: #3BCAB1;
    border: 1px solid #3BCAB1;
}

.cross{
    color: #FF4242;
    border: 1px solid #FF4242;
}
/* /Inner List */
/* /Outer List */

/* Tags Ricerca */
form{
    display: inline-block;
    vertical-align: middle;
}

.btn-tag{
    background-color: red;
    color: white;
    border: 0px;
    border-radius: 1em;
    padding: 5px 10px;
    font-size: 0.6em;
}

.editorial{background-color: #09A9ED;}
.goal{background-color: #AB5DE6;}
.recruiting{background-color: #2CC6AB;}
.mobile{background-color: #FF9B00;}
.website{background-color: #EC4A9D;}
.sale{background-color: #A3D116;}
/* /Tags Ricerca */

/* /Main Section */
